

<br>
<br>
<br>
<br>
<br>
  
 <section id="containPage">
   <div id="mainContain">
     
  <div>
    <h1 class="colorT blockB" style="text-align: center; "> {{vm.course._id ? 'Edit Course' : 'New Course'}}</h1>
   <!-- <button id="btnS" type="submit" class="btn btn-default blockB">{{vm.course._id ? 'Update' : 'Create'}}</button>-->
  </div>
 
<hr id="barD">
  

  <br>
  <div class="col-md-">
    <form name="vm.form.courseForm" class="form-horizontal" ng-submit="vm.save(vm.form.courseForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label colorT" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.course.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.courseForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Course title is required.</p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label class="control-label colorT" for="videoLink">VideoLink</label>
          <input name="videoLink" type="text" ng-model="vm.course.videoLink" id="videoLink" class="form-control" placeholder="videoLink" required autofocus>
          <div ng-messages="vm.form.courseForm.videoLink.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Video URL is required.</p>
          </div>

        <!-- <iframe width="100" height="50"
            src="url_de_ta_video">
          </iframe>

        -->
        </div>
        <div class="form-group" show-errors>
          <label class="control-label colorT" for="worksheet">Worksheet (Upload the File)</label>

          <input
          type="file"
          ngf-select
          ng-model="vm.file"
          name="file"
          ngf-pattern="'*'"
          accept="application/pdf"
          ngf-max-size="20MB"
          required="required"
          class="btn fileInput"
          id="worksheet"
          />
          <b><i ng-show="vm.form.courseForm.file.$error.maxSize">This File is too large!!
            {{vm.file.size / 1000000|number:1}}MB: max 20MB</i>
          </b>
        </div>


        <div class="form-group">
          <label class="control-label colorT" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.course.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">{{vm.course._id ? 'Update' : 'Create'}}</button>
          <button class="btn btn-danger pull-right" ng-if="vm.course._id"  type="button" ng-click="vm.openModal()"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
      </fieldset>
    </form>
  </div>

</div>
 </section>
 <br>
 <br>
 <br>
 <br>





