<section>
     <div class="modal-header " style="background-color:#DB253C; border-top-left-radius:10px; 
     border-top-right-radius:10px; text-align: center; color: azure;font-weight: bold">Warning</div>
     <div class="modal-body">
           <h4>Are you sure that you want to delete <em ng-bind="vm.course.title"></em> ???</h4> 
     </div>
     <div class="modal-footer">
         <button type="button" class="btn btn-primary" ng-click="vm.remove()" >YES I'm sure</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</section>