<section>
  <div class="page-header">
    <h1 ng-bind="vm.course.title"></h1>
  </div>
  <div>
    <small>
      <em class="text-muted">
        Posted on
        <span ng-bind="vm.course.created | date:'mediumDate'"></span>
        by
        <span ng-if="vm.course.user" ng-bind="vm.course.user.displayName"></span>
        <span ng-if="!vm.course.user">Deleted User</span>
      </em>
    </small>
  </div>  
  <div class="col-md-8">
    <video  width="720" height="450" controls>
      <source src="/modules\courses\client\videos\video.mp4" type="video/mp4">
    </video>

    <form class="downloadBtn"  method="get" action="{{vm.course.Worksheet}}">
      <button  type="submit" class="btn btn-primary ">
        <span class="glyphicon glyphicon-download-alt downloadIcon"></span>Download Worksheet
      </button>
    </form>
  </div>
  <div class="col-md-8 ">
  <a ui-sref="courses.askHelp" class="btn btn-info pull-right helpBtn">Do You need help?</a>
    <p class="lead" ng-bind="vm.course.content"></p>
  </div>

</section>
